.header {
  background-color: $bg-color-main;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;

  &__dashboard {
    vertical-align: center;
  }
  @include respond(tab-port) {
    padding: 2rem 2rem;
  }

}