.main-blocks {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;

  @include respond(tab-land) {
    padding: 1.5rem 3rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
  }


}