.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 8%;
  height: 100vh;
  background-color: $bg-nav;
  text-align: center;

  @include respond(tab-land) {
    width: 10%;
  }

  @include respond(tab-land) {
    height: auto;
  }


  &__person {
    position: relative;
    padding: 2rem 0 0 0;
    height: 7rem;
    margin-bottom: 2rem;

    &--foto {
      width: 70%;
      height: auto;
    }
  }

  &__board {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    cursor: pointer;

    &::after {
      display: none;
      transition: all .4s;
    }

    &:hover {
      color: $white-color;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 10px;
        background-color: $red-color-main;
      }
    }

    &--icon {
      width: 45%;
      fill: #4d4f51;
      transition: all .4s;
    }
  }

  &__project {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;

    &::after {
      display: none;
      transition: all .4s;
    }

    &:hover {
      color: $white-color;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 10px;
        background-color: $red-color-main;
      }
    }

    &--icon {
      width: 40%;
      fill: #4d4f51;
      transition: all .4s;
    }
  }

  &__settings {
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    cursor: pointer;

    &::after {
      display: none;
      transition: all .4s;
    }

    &:hover {
      color: $white-color;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 10px;
        background-color: $red-color-main;
      }
    }

    &--icon {
      width: 45%;
      fill: #4d4f51;
      transition: all .4s;
    }
  }

  &__upgrade {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    cursor: pointer;

    &::after {
      display: none;
      transition: all .4s;
    }

    &:hover {
      color: $white-color;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 10px;
        background-color: $red-color-main;
      }
    }

    &--icon {
      width: 45%;
      fill: #4d4f51;
      transition: all .4s;
    }
  }

  &__login {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    cursor: pointer;

    &::after {
      display: none;
      transition: all .4s;
    }

    &:hover {
      color: $white-color;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 10px;
        background-color: $red-color-main;
      }
    }

    &--icon {
      width: 45%;
      fill: #4d4f51;
      transition: all .4s;
    }
  }

  &__descr {
    font-size: 1.6rem;
    text-transform: capitalize;
    color: $nav-text;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.navigation__board:hover .navigation__board--icon {
  fill: $red-color-main;
}

.navigation__board:hover .navigation__descr {
  color: $white-color;
}


.navigation__project:hover .navigation__project--icon {
  fill: $red-color-main;
}
.navigation__project:hover .navigation__descr {
  color: $white-color;
}

.navigation__settings:hover .navigation__settings--icon {
  fill: $red-color-main;
}
.navigation__settings:hover .navigation__descr {
  color: $white-color;
}

.navigation__upgrade:hover .navigation__upgrade--icon {
  fill: $red-color-main;
}
.navigation__upgrade:hover .navigation__descr {
  color: $white-color;
}

.navigation__login:hover .navigation__login--icon {
  fill: $red-color-main;
}
.navigation__login:hover .navigation__descr {
  color: $white-color;
}
