.progress-block {
  border: 1px solid $border-color;
  width: 60%;
  height: 75vh;
  overflow: hidden;
  border-radius: 4px;

  @include respond(tab-port) {
    width: 100%;
    height: auto;
  }


  &__progress {
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar { 
      position: relative;
      display: none;
    }
  }

  &__search {
    position: static;
    padding: 1rem 2rem;
    border-bottom: 1px solid $border-color;
  }

  &__add-project {
    @include respond(tab-land) {
      display: flex
    }
  }

  &__archiv {
    position: static;
    padding: 1rem 2rem;
    border-bottom: 1px solid $border-color;
    text-decoration: none;
    color: rgb(92, 92, 92);
    font-size: 1.5rem;
    text-transform: capitalize;
  }


  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 65%;
    font-size: 1.5rem;
    border: none;
    color: $dark-grey;
    line-height: 2rem;
    outline: none;
  }

  &__select {
    appearance: none;
    outline: none;
    line-height: 2rem;
    text-align: right;

    &::-ms-expand {
      display: none;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid $border-color;

    &--right {
      align-self: center;
    }
  }

  &__progress-bar {
    display: inline-block;
    vertical-align: center;
    padding: .3rem .5rem;
    font-size: 1.9rem;
    background-color: $red-color-main;
    color: $white-color;
    border-radius: 7px;
    font-weight: 100;
    font-family: Helvetica, Arial, sans-serif;
    margin-right: 1rem;
  }

  &__progress-name {
    display: inline-block;
    font-weight: 600;
  }

  &__done {
    background-color: $bg-color-lightgray;
    color: #a7a7a7;
  }
}

.progress-block__done .progress-block__progress-bar {
  background-color: $bg-color-lightgray;
  border: 1px solid gray;
  color: gray;
}

.progress-block__done .news__person-box img {
  width: 3.5rem;
  height: 3.5rem;
}

