.tab {
  display: flex;
  background-color: $bg-color-main;
  text-transform: capitalize;
  font-size: 1.5rem;
  border-top: 1px solid $border-color;
  margin-bottom: 3rem;


  &__project {
    position: relative;
    flex-grow: 2;
    text-align: center;
    font-size: 1.7rem;
    background-color: $bg-color-sub;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    padding: 2rem 3rem;
    text-transform: capitalize;

    &::before {
      content: "";
      position: absolute;
      top: 25%;
      left: 15%;
      display: block;
      width: 3rem;
      height: 3rem;
      background-image:  url(../img/svg/paper-plane.svg);
      background-size: contain;
    }
  }

  &__message {
    position: relative;
    flex-grow: 2;
    text-align: center;
    font-size: 1.7rem;
    background-color: $bg-color-sub;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    padding: 1.5rem 2.5rem;
    text-transform: capitalize;

    &::before {
      content: "";
      position: absolute;
      top: 25%;
      left: 15%;
      display: block;
      width: 3rem;
      height: 3rem;
      background-image:  url(../img/svg/chat.svg);
      background-size: contain;
    }
  }

  &__free {
    flex-grow: 4;
    text-align: center;
    border-bottom: 1px solid $border-color;
    padding: 1.5rem 7rem 1.5rem 2rem;
    text-align: right;
    color: gray;

    @include respond(tab-port) {
      display: none;
    }
  
  }

  &__project:focus,
  &__message:focus,
  &__free:focus {
    outline: none;
  }
}

.active {
  background-color: #fff;
  border-bottom: none;
}