$bg-color-main: #f1f1f1;
$bg-color-sub: #f8f8f8;
$bg-color-lightgray: #f6f6f6;
$red-color-main: #ff503f;
$bg-nav: #282d33;
$dark-grey: #4b4b4b;
$green-color: #aacc4e;
$btn-font-color: #fff;
$white-color: #fff;
$border-color: #d3d7da;
$nav-text: #787878;
$checked-alert: #adadad;